*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  background: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-body);
  font-size: 15px;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}

.app {
  max-width: var(--layout-max-width);
  margin: 0 auto;
  padding-right: env(safe-area-inset-right);
  padding-left: env(safe-area-inset-left);
}
